/**==============================================
 **              Mohsen Golmohmamdi
 *  Email: moremohsne@gmail.com
 *  Phone: +989194469203
 *  Whatsapp: +099194469203
 *  @CopyRight 2024
 *=============================================**/

/**========================================================================
 * *                              custom Font
 *========================================================================**/
@import url(./fonts.css);

/**========================================================================
 * *                              RESET BOOTSTRAP
 *========================================================================**/

body,
html {
    position: relative;
    height: 100%;
}

body {
    background: #000;
    background-image: url(../img/bg/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "AzarMehr", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(17, 17, 17, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

#menu_logo {
    display: block;
    width: 200px;
    height: auto;
    margin: 3rem auto;
}

#menu_logo2 {
    display: block;
    width: 100px;
    height: auto;
    margin: 1rem auto;
    position: absolute;
    left: 0;
    opacity: 50%;
}

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 25%);
}
.navbar .form-control {
    padding: 0.75rem 1rem;
}

.accordion-button:focus {
    box-shadow: none;
}

/*  */
.swiper {
    width: 100%;
    /* height: 100%; */
    margin-bottom: 2rem;
    font-family: "Pinar-VF";
    font-weight: 700;
}

.swiper-slide {
    text-align: center;
    font-size: 1.3rem;
    background: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 150px;
    width: 150px;
    border-radius: 1.5rem;
    cursor: pointer;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
    /* filter: blur(1px); */
}

.swiper-slide .icon {
    margin-bottom: 1rem;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide-active {
    /* filter: blur(0); */
}
#content .content {
    display: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
}
#content .content.active {
    display: block;
}
.icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon img {
    max-width: 100%;
    max-height: 100%;
}
/* 
.accordion-item
{
    background-color: #212529;
    color: #fff;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: 1rem;
}
.accordion-header .accordion-button {
    border-radius: 1rem !important;
    background-color: #212529;
    color: #fff;
    border: none;
}
.accordion-flush>.accordion-item {
    border-left: 0;
    border-right: 0;
    border-radius: 1rem;
} */

.accordion-flush > .accordion-item {
    background-color: transparent;
    margin-bottom: 1.5rem;
    border: 0;
    position: relative;
}

.accordion-header .accordion-button {
    /* background-color: #212529; */
    color: #000;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.25);
    border: none;
    font-family: Pinar-VF;

    font-weight: 700;
    height: 52px;
    padding: 0;
}
.accordion-header .accordion-button > span {
    padding-right: 1.5rem;
}

.accordion-button::after {
    display: none;
}

.accordion-header .accordion-button > .icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
.accordion-header .accordion-button > .icon img {
    max-width: 100%;
    max-height: 100%;
}

.list-group {
    --bs-list-group-color: #fff;
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
    --bs-list-group-border-width: var(--bs-border-width);
    --bs-list-group-border-radius: var(--bs-border-radius);
    --bs-list-group-item-padding-x: 1rem;
    --bs-list-group-item-padding-y: 0.5rem;
    --bs-list-group-action-color: var(--bs-secondary-color);
    --bs-list-group-action-hover-color: var(--bs-emphasis-color);
    --bs-list-group-action-hover-bg: var(--bs-tertiary-bg);
    --bs-list-group-action-active-color: var(--bs-body-color);
    --bs-list-group-action-active-bg: var(--bs-secondary-bg);
    --bs-list-group-disabled-color: var(--bs-secondary-color);
    --bs-list-group-disabled-bg: var(--bs-body-bg);
    --bs-list-group-active-color: #fff;
    --bs-list-group-active-bg: #0d6efd;
    --bs-list-group-active-border-color: #0d6efd;
    display: flex;
    flex-direction: column;
    padding-right: 0;
    margin-bottom: 0;
    border-radius: var(--bs-list-group-border-radius);
}
.list-group .cricle {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: 1rem;
}

.accordion-button:not(.collapsed) {
    color: #000;
    /* background-color: #FF75C3; */
    box-shadow: none;
}

.color_1 {
    background: #ef6c55;
    background: linear-gradient(180deg, rgba(239, 108, 85, 1) 0%, rgba(171, 68, 50, 1) 100%);
}
.color_2 {
    /* background-color: #FDE470; */
    background: #fde470;
    background: linear-gradient(180deg, rgba(253, 228, 112, 1) 0%, rgba(181, 162, 76, 1) 100%);
}
.color_3 {
    background: #418b8c;
    background: linear-gradient(0deg, rgba(65, 139, 140, 1) 0%, rgba(92, 183, 184, 1) 100%);
}
.color_4 {
    background: #8a8ab8;
    background: linear-gradient(0deg, rgba(138, 138, 184, 1) 0%, rgba(168, 167, 211, 1) 100%);
}
.color_5 {
    background: #bf6388;
    background: linear-gradient(0deg, rgba(191, 99, 136, 1) 0%, rgba(225, 118, 160, 1) 100%);
}
.color_6 {
    background: #9c6a4b;
    background: linear-gradient(0deg, rgba(156, 106, 75, 1) 0%, rgba(200, 140, 103, 1) 100%);
}
.color_7 {
    background: #cc8da9;
    background: linear-gradient(0deg, rgba(204, 141, 169, 1) 0%, rgba(243, 169, 202, 1) 100%);
}
.color_8 {
    background: #d9a571;
    background: linear-gradient(0deg, rgba(217, 165, 113, 1) 0%, rgba(250, 197, 145, 1) 100%);
}
.color_9 {
    background: #d19db8;
    background: linear-gradient(0deg, rgba(209, 157, 184, 1) 0%, rgba(241, 197, 220, 1) 100%);
}
.color_10 {
    background: #2e669e;
    background: linear-gradient(0deg, rgba(46, 102, 158, 1) 0%, rgba(60, 129, 198, 1) 100%);
}
.color_11 {
    background: #96689e;
    background: linear-gradient(0deg, rgba(150, 104, 158, 1) 0%, rgba(176, 126, 185, 1) 100%);
}
.color_12 {
    background: #4ba381;
    background: linear-gradient(0deg, rgba(75, 163, 129, 1) 0%, rgba(90, 184, 148, 1) 100%);
}
.color_13 {
    background: #bcc282;
    background: linear-gradient(0deg, rgba(188, 194, 130, 1) 0%, rgba(218, 223, 157, 1) 100%);
}

/*  */
.new-production {
    font-family: "Pinar-VF";
    font-weight: 900;
    position: absolute;
    z-index: 1000;
    color: white;
    bottom: 2rem;
    right: 3rem;
    background-color: rgba(255, 0, 0, 1);
    padding: 1rem 2rem 1rem 4.5rem;
    text-shadow: 1px 1px #000;
    border-radius: 50rem;
    animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    animation-iteration-count: infinite; /* تکرار بی‌نهایت */
    border: 4px solid #fff;
}

.new-production .badge {
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -1rem;
    margin-left: -2rem;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 700;
    color: red !important;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3) !important;
    transform: rotate(-45deg);
    border: 4px solid red;
}

/*  */

/**========================================================================
 * *                              App Banner
 *========================================================================**/
.app-banner {
    background: #1c1f2b;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    position: relative;
    /* min-height: 150px; */
    z-index: 1;
    /* overflow: hidden; */
    padding: 5px;
}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.myItems {
    position: relative;
    /* min-height: 150px; */
    z-index: 1;
}
.app-banner::after,
.app-banner::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 40%;
    /* background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545); */
    background-image: conic-gradient(from var(--angle), #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);

    top: 71%;
    left: 50%;
    translate: -50% -50%;
    z-index: -999;
    padding: 3px;
    border-radius: 5rem;
    animation: 3s spin linear infinite;
}

.myItems::after,
.myItems::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 90%;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    background-color: #fff;
    z-index: -999;
    border-radius: 50%;
}

.app-banner::before {
    filter: blur(0.5rem);
    opacity: 0.8;
}

.myItems::before {
    filter: blur(0.1rem);
    opacity: 0.8;
}
@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.c_items::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: #1c1f2b;
    border-radius: 0.4rem;
}

.app-banner-poster {
    height: 125px;
    background: #000;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-banner-poster::after {
    content: "";
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.app-banner-poster img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.app-banner-poster video {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
}

.app-banner-poster h3 {
    font-family: "Pinar-VF";
    font-weight: 900;
    color: #dc3545;
    text-shadow: 3px 3px #000;
    position: absolute;
    z-index: 101;
}

#BtnShop {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 150px;
    height: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: translateX(-75px);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-bottom: 0;
    z-index: 1001;
    font-family: "Pinar-VF";
    font-weight: 900;
    font-size: 1.5rem;
    padding: 0;
}
#BtnShop img {
    width: 24px;
    margin-right: 1rem;
}
/*  */
.list-group-flush > .list-group-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
