@font-face {
    font-family: "AzarMehr";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/AzarMehr-Regular.woff2") format("woff2"), url("../fonts/AzarMehr-Regular.woff") format("woff");
}

@font-face {
    font-family: "AzarMehr";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/AzarMehr-Bold.woff2") format("woff2"), url("../fonts/AzarMehr-Bold.woff") format("woff");
}

@font-face {
    font-family: "Pinar-VF";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Pinar-DS2-Bold.woff2") format("woff2"), url("../fonts/Pinar-DS2-Bold.woff") format("woff");
}

@font-face {
    font-family: "Pinar-VF";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/Pinar-DS2-Black.woff2") format("woff2"), url("../fonts/Pinar-DS2-Black.woff") format("woff");
}
